<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445611463957-88dfq025ere320ahki9cpmuhvr0hgha8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445611463957-88dfq025ere320ahki9cpmuhvr0hgha8</string>
	<key>API_KEY</key>
	<string>AIzaSyDmOKRneCA826GVR5VIU7GliNsbsVFpHik</string>
	<key>GCM_SENDER_ID</key>
	<string>445611463957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>demianjun.hackathonproject.miniset</string>
	<key>PROJECT_ID</key>
	<string>miniset-e6c01</string>
	<key>STORAGE_BUCKET</key>
	<string>miniset-e6c01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445611463957:ios:0da1c0579d9c350a0a051c</string>
	<key>DATABASE_URL</key>
	<string>https://miniset-e6c01.firebaseio.com</string>
</dict>
</plist>